.menudashboard {
    z-index: -111;
    position: fixed;
    top: 50px;
    left: 0;
    width: 250px;
    color: white;
    background-color: #1d1d1d;
    height: 100vh;
}

.menudashboard p {
    text-align: center;
    padding: 20px 0 0 0;
    font-weight: bold;
    font-size: 20px;
}

nav {
    margin-top: 30px;
}

.link {
    display: flex;
    gap: 10px;
    cursor: pointer;
    align-items: center;
    padding: 12px 10px;
}

.menudashboard a {
    display: block;
}

.link i {
    font-size: 25px;
}

.agendado {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.agendado span {
    color: greenyellow;
}
