.parte1 {
    text-align: center;
    background: url(../../images/background1.jpg);
    background-size: cover;
    background-position: center center;
    background-blend-mode: color;
    background-color: #000000c7;
    color: white;
    height: 80vh;
}

.presentation {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.presentation p {
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

.btn-agendar {
    background: none;
    margin: 30px;
    padding: 10px 20px;
    border: none;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
    color: white;
}

.btn-agendar a {
    color: white;
}

.presentation p {
    margin: 0 300px;
    font-size: 30px;
}

.cardsInformation {
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;
    margin: 80px;
}

.Testemunhas,
.evento-agendado {
    text-align: center;
}

.evento-agendado {
    font-size: 40px;
    margin: 80px 0 50px 0;
    font-weight: bold;
}

.testemunhas {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.logo {
    display: flex;
    justify-content: center;
    gap: 30px;
    height: 450px;
    align-items: center;
    background: url(../../images/footbal.jpg);
    background-size: cover;
    background-position: center center;
    background-blend-mode: color;
    background-color: #000000b7;
    margin: 80px 0;
}

.logo img {
    width: 400px;
}

.logo .presentation {
    font-weight: bold;
    color: white;
    text-align: center;
    width: 500px;
}

.logo .presentation p {
    padding: 0;
    margin: 0;
}

.eventos-agendados {
    margin: 0 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}