.btn-proximo{
    position: fixed;
    top: 100px;
    left: 300px;
    width: 900px;
    display: flex;
    justify-content: space-between;
}
.btn-proximo a{
    color: white;
    font-weight: bold;
}

.btn-proximo button,
.btn-agendar-dashboard{
    cursor: pointer;
    background: black;
    border: none;
    border-radius: 20px;
    padding: 15px 0;
    width: 200px;
}

.btn-agendar-dashboard a{
    color: white;
    font-weight: bold;
}