.foto {
    width: 90px;
}

.cardApresentacao h1 {
    font-weight: bold;
    font-size: 60px;
}

.cardApresentacao p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.cardApresentacao {
    display: flex;
    width: 279px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.card {
    display: flex;
    width: 279px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.star {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.desc,
.nome {
    color: #4A4A4A;
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

span {
    color: #101010;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}


.agendamento {
    border: 1px solid black;
    border-radius: 20px;
}


.agendamento img {
    width: 350px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.agendamento p {
    font-size: 25px;
    color: black;
    font-weight: bold;
}
