.foto {
    width: 90px;
}

.cardApresentacao h1 {
    font-weight: bold;
    font-size: 60px;
}

.cardApresentacao p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.cardApresentacao {
    display: flex;
    width: 279px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.card {
    display: flex;
    width: 279px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.star {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.desc,
.nome {
    color: #4A4A4A;
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

span {
    color: #101010;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}

.agendamento p{
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.agendamento {
    background: url(../../images/xadrez.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: color;
    background-color: #000000c5;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 30px;
    width: 450px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

.agendamento:hover{
    background-color: #00000093;
    background: url(../../images/xadrez.jpg);
    background-size: cover;
}

.title {
    margin-bottom: 30px;
}